.i{
    display: flex;
    height: 100vh;
    
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-item{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #59b256;
    display: flex;
    align-items: center;
   
}

.i-title-wrapper{
    height: 100vh;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
    
}

.i-image{
    width: 130%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.i-bg{
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;right: 0;
    background-color: #59b256;
}

@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
    }
}