.t {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-icon:first-child {
  margin-right: 5px; /* Adjust the margin as needed */
}

.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth animation */
}

.t-button.dark-mode {
  background-color: #333; /* Dark mode background color */
}
.t-slider {
  flex-grow: 1;
  height: 15px;
  background-color: #ccc; /* Set a background color for the slider */
  border-radius: 10px;
  margin: 0 5px; /* Adjust the margin as needed */
}
